body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:url("photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.LoginBox{
  width: 300px;
  padding: 40px;
  position: absolute;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:#191919;
  text-align: center;
}
.LoginBox img {
  width: 120px;
  height: 120px;
  background: block;
  /* to Fix image in center top  */
  position: absolute;
  top: -60px;
  left: calc(50% - 50px);
  /* to alin with paadding */
  /* display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px; */
  border-radius: 50%;
}
.LoginBox a{
  text-decoration: none;
  color: #3498db;
  text-align: left;
}
.LoginBox h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500px;
}
.LoginBox input[type="text"],.LoginBox input[type="password"]{
  border: 0;
  background: block;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.LoginBox input[type="text"]:focus,.LoginBox input[type="password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.LoginBox input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;

}
.LoginBox input[type="submit"]:hover{
  background: #2ecc71;
}
